#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {

                                // |  Q  |  W  |  E  |  R  |  T  |         |  Y  |  U   |  I  |  O  |  P  |
                                // |  A  |  S  |  D  |  F  |  G  |         |  H  |  J   |  K  |  L  |  .  |
                                // |  WIN  |  Z  |  X  |  C  |  V  |       |  B  |  N   |  M  |  TAB  |  -  |
                                //         | LSHIFT | LCTRL | SPC |        | BKSP | 2 | ENT |

                        bindings = <
                        
                                &kp Q &kp W &kp E &kp R &kp T               &kp Y &kp U  &kp I  &kp O   &kp P
                                &kp A &kp S &kp D &kp F &kp G               &kp H &kp J  &kp K  &kp L   &kp DOT
                                &kp LGUI &kp Z &kp X &kp C &kp V            &kp B &kp N  &kp M &kp TAB &kp KP_MINUS
                                         &kp LSHIFT &mo LCTRL &kp SPACE     &kp BSPC &mo RALT &kp RET
                  
                        >;
                };
        };
};
